*{
    margin: 0;
    padding: 0;
    font-size: 10px;
}
body{
    background-color: #bda1ff;
}
#HeaderTitle{
    text-align: center;
    margin: 20px;
    font-size: 3rem;
    color: #fff;
}
.container{
    display: flex;
}

.container img{
    margin: 2rem 5rem;
    border-radius: 20px;
    width: 300px;
    height: 200px;
    border: 2px solid rgb(248, 239, 108);
}
.container img:hover{
    border-radius: 20px;
    border: 2px solid #ffffff;
}

.container figcaption{
    font-size: 2.5rem;
    margin: 0rem 5rem;
   
}
.container figcaption:hover{
    color: #fff;
   
}
figure a{
    text-decoration: none;
}
