nav i{
    font-size: 1.7vw;
    margin: 0 2vw;

}

.main-img img{
    width: 380px;
    height: 420px;
}
#product-other-img{
    margin-top: 10px;
}
#product-other-img img{
    width: 100px;
    height: 110px;
}

#cart-default{
    padding: 10vw;
    background-color: rgb(186, 186, 186);
    color: #595959;
}

.empty-cart{
    padding: 10vw;
    background-color: rgb(162, 161, 161);
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
}

.empty-cart button{
    width: 60%;
    font-size: 1vw;
}

