nav i{
    font-size: 1.7vw;
    margin: 0 2vw;

}

.main-img img{
    width: 380px;
    height: 420px;
}

.prod-img{
    height: 250px;
    padding: 10px 20px;
    transition: transform 0.2s; /* Add a smooth transition effect */
}
.prod-img:hover{
    transform: scale(1.1); /* Increase the size by 10% (adjust as needed) */
}
#product-other-img{
    margin-top: 10px;
}
#product-other-img img{
    width: 100px;
    height: 110px;
}

#cart-default{
    padding: 10vw;
    background-color: rgb(186, 186, 186);
    color: #595959;
}

.empty-cart{
    padding: 10vw;
    background-color: rgb(162, 161, 161);
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
}

.empty-cart button{
    width: 60%;
    font-size: 1vw;
}

.card{
    transition: transform 0.2s; /* Add a smooth transition effect */
}

.card:hover{
    transform: scale(1.07); /* Increase the size by 10% (adjust as needed) */
    border-color: rgb(93, 255, 74);

}

#product-name{
    /* color: firebrick; */
    font-weight: 700;
    font-size: 4vw;
}

#product-desc{
    font-size: 2vw;
    overflow: hidden;
}

#product-section h4{
    color: rgb(64, 64, 250);
    font-size: 2vw;
    font-weight: 400;
}

.bill-title{
    text-align: center;
    margin-top: 0;
    width: 100%;
}
.bill-title i{
    margin: 5px;
}
#amount{
    margin-left: 60px;
}
#tax{
    margin-left: 100px;
}
#d-charge{
    margin-left: 10px;
}
#total-amount{
    margin-left: 30px;
}

#slide{
    width: 100%;
    height: 80%;
}

#slide img{
    width: 80vw;
    padding: 5%;
    height: 70vh;
}