*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background: rgb(201, 194, 194);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.container{
    width: 350px;
    height: 550px;
    background: #fbfbfb;
    border-radius: 15px;
    box-shadow: 4x 4x 4x rgba(0, 0, 0, 0.07);
    padding: 10px 10px;
    overflow-y: scroll;
}

.container::-webkit-scrollbar{
display: none;
}

.container form{
    width: 100%;
    border-radius: 15px;
    border: 1px solid black;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    
}
.container form input{
    border: none;
    background: none;
    outline: none;
    width: 100%;
    box-shadow: none;
    padding-left: 10px;
}

.product{
    display: flex;
    align-items: center;
    /* flex-direction: row; */
    cursor: pointer;
    padding: 15px 10px;
}
.product img{
    height: 80px;
    width: 80px;
    object-fit: cover;
    border: 5px;
}

.product-list{
padding: 5px 10px;
}
.product h2{
    font-size: 16px;
    color: rgb(49, 28, 28);
}
.product h3{
    font-size: 16px;
}

.p-details{
padding: 10px;
}